.portfolio {
  background: #F6F6F6;
}

.portfolio-title {
  padding-top: 112px;
  padding-bottom: 96px; /* Это потом удалить */
}

.swiper-container__custom {
  text-align: center;
}

.swiper-wrapper__custom {
  max-height: 800px;
  padding-bottom: 100px;
}